Repository BoxPistols/wix-style-react, changes with the labels that .github/labeler.yml gives for each.
All labels: WSR, WUT, BUI

add addItem component subtitle visual test
  packages/wix-style-react/src/AddItem/test/AddItem.visual.js
Labels: WSR

add illustration example
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/AddItem.st.css
  packages/wix-style-react/src/AddItem/docs/examples.js
  packages/wix-style-react/src/AddItem/docs/index.story.js
Labels: WSR

added illustration prop
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/AddItem.st.css
  packages/wix-style-react/src/AddItem/index.d.ts
Labels: WSR

add illustration example svg for add item
  packages/wix-style-react/src/assets/generic_add_item_illustration.svg
Labels: WSR

added illustration example svg for add item
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/AddItem.st.css
  packages/wix-style-react/src/AddItem/docs/examples.js
Labels: WSR

changed illustration prop name to icon
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/docs/examples.js
  packages/wix-style-react/src/AddItem/index.d.ts
Labels: WSR

added visual test for illustration
  packages/wix-style-react/src/AddItem/test/AddItem.visual.js
Labels: WSR

minor refactoring
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/AddItem.st.css
  packages/wix-style-react/src/AddItem/docs/index.story.js
Labels: WSR

fixed tests
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/AddItem.st.css
  packages/wix-style-react/src/AddItem/docs/examples.js
  packages/wix-style-react/src/AddItem/test/AddItem.visual.js
Labels: WSR

updated storybook example for addItem illustration
  packages/wix-style-react/src/AddItem/docs/examples.js
Labels: WSR

removed repeated visual test
  packages/wix-style-react/src/AddItem/test/AddItem.visual.js
Labels: WSR

changed title of illustration example
  packages/wix-style-react/src/AddItem/docs/index.story.js
Labels: WSR

fixed illustration exmaple description
  packages/wix-style-react/src/AddItem/docs/index.story.js
Labels: WSR

fixed icon styling
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/AddItem.st.css
  packages/wix-ui-tpa/src/components/AddItem/AddItem.st.css
Labels: WSR, WUT

maintain old paddings for wix-ui-tpa addItem
  packages/wix-ui-tpa/src/components/AddItem/AddItem.st.css
Labels: WUT

fixed icon styling
  packages/wix-ui-tpa/src/components/AddItem/AddItem.st.css
  packages/wix-ui-tpa/src/components/AddItem/AddItem.tsx
Labels: WUT

fixed styling
  packages/wix-style-react/src/AddItem/AddItem.js
  packages/wix-style-react/src/AddItem/AddItem.st.css
  packages/wix-ui-tpa/src/components/AddItem/AddItem.st.css
  packages/wix-ui-tpa/src/components/AddItem/AddItem.tsx
Labels: WSR, WUT

fixed perfer configs
  packages/wix-style-react/perfer.config.js
  packages/wix-ui-tpa/perfer.config.js
Labels: WSR, WUT

added new examples for modal component
  packages/wix-style-react/src/Modal/docs/examples.js
  packages/wix-style-react/src/Modal/docs/examples/ModalWithCloseButton.js
  packages/wix-style-react/src/Modal/docs/examples/SimpleExample.js
  packages/wix-style-react/src/Modal/docs/index.story.js
Labels: WSR

fixed api descriptions
  packages/wix-style-react/src/Modal/Modal.js
Labels: WSR

hoist `devDependencies` of all packages to the root
  package.json
  packages/wix-style-react-test-runtime/package.json
  packages/wix-style-react/package.json
  packages/wix-ui-tpa/package.json
Labels: WSR, WUT

fix typeRoots
  package.json
  packages/wix-ui-tpa/package.json
  packages/wix-ui-tpa/tsconfig.json
Labels: WUT

wix-ui-tpa: update tsconfig.json
  packages/wix-ui-tpa/tsconfig.json
Labels: WUT

.github/labeler.yml:

WSR:
  - packages/wix-style-react/**/*.*

WUT:
  - packages/wix-ui-tpa/**/*.*

BUI:
  - packages/wix-base-ui/**/*.*
